<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/estilo.css">


    <title>Cruzeiro Transportes e Turismo</title>
    <link rel="icon" href="assets/img/logo.png" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style media="screen">
    body{
      font-family: ROBOTO;

    }

    .navheader{
      color: #EF3366;
      background-color: #FFF;
      width: 100%;
      height: 48px;
    }
      .banner{
        width: 100%;
        height:350px;
      }

      .text-centered{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
      .text-justify{
        text-align: justify;
      }
      .text-middle{
        text-align: middle;
        margin-top: 18px;
      }
      .float-right{
        float: right;
      }

      .float-left{
        float: left;
      }

      .right{
        padding-right: 0 !important;
        float: right;
      }

      .left{
        clear: both;
        padding-left: 0 !important;
      }

      .color{
        color: #EE3366;
      }

      .header-nav{
        display: block;
        position: fixed;
      }
      .tamanho-altura{
        height: 23em;
      }
      .tamanho-altura-xs{
        height: 26em;
      }

      .text-bold{
        font-weight: bold;
      }

      .cinza{
        background-color: #eee;
      }

      .position-topo{
        padding-top:60px;
      }
      .position-baixo{
        padding-bottom: 50px;
      }

      .footer{
        position: relative;
        width: 100%;
        background-color: #434343;
        height: 120px;
        margin-bottom: 0;
        padding-bottom: 0;
        bottom:0;

      }

      .footer ul {
      	font-size: 11px;
      	list-style-type: none;
      	margin-left: 0;
      	padding-left: 0;
      	margin-top: 0px;
      	color: #C3C3C3;
      }
      .footer ul li a {
      	padding: 0 0 0 0;
      	display: block;
      }
      .social li {
      	background: none repeat scroll 0 0 #FFFFFF;
      	border: 2px solid #C3C3C3;
      	float: left;
      	height: 45px;
      	line-height: 40px;
      	margin: 0 8px 0 0;
      	padding: 0;
      	text-align: center;
      	width: 45px;
        border-radius: 10%;
      }
      .social li:hover {

      }
      .social li a {
      	color: #C3C3C3;
        height: 40px !important;
      }
      .social li:hover {
      	border: 2px solid #2c3e50;
      	background: #2c3e50;
      }
      .social li a i {
      	font-size: 30px;
      	margin: 8px 0 0 5px;
      	color: #434343 !important;
      }

      .nav-item{
        margin: 0 !important;
        padding: 0 !important;
      }

      .nav-link{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 1rem;
      }

      .nav-item .nav-link:hover{
        background-color: #434343;
        color: #FFF !important;
      }

      .contato{
        width: 60%;
        margin: 0 auto;
        border-radius: 0.3125em;
      }

      .login{
        width: 35%;
        margin: 0 auto;
        border-radius: 0.3125em;
      }

      
    </style>
</head>
