<header>
<!-- Barra de navegação -->
<nav class="navbar bg-default navbar-light navbar-fixed-top navheader">
  <a href="index.php" class="navbar-brand" style=" color: #EE3366 !important; bottom: 15px;">
    <img src="assets/img/logo.png" alt="logotipo cruzeiro transportes e turismo" style="width: 183px; height:auto;" class=" d-inline-block align-top">
  </a>
  <button class="navbar-toggler hidden-md-up float-sm-right float-xs-right" type="button" data-toggle="collapse" data-target="#menu-sanduiche"></button>
  <div class="collapse navbar-toggleable-sm" id="menu-sanduiche">
  <ul class="nav navbar-nav">

  </ul>
  <ul class="nav navbar-nav float-md-right">
    <li class="nav-item">
      <a href="index.php" class="nav-link">Início</a>
    </li>
    <li class="nav-item">
      <a href="index.php#empresa" class="nav-link">Empresa</a>
    </li>
    <li class="nav-item">
      <a href="index.php#servicos" class="nav-link">Serviços</a>
    </li>
    <li class="nav-item">
      <a href="index.php#frota" class="nav-link">Frota</a>
    </li>
    <li class="nav-item">
      <a href="index.php#artigos" class="nav-link">Veículos a Venda</a>
    </li>
    <li class="nav-item">
      <a href="index.php#contato" class="nav-link">Contato</a>
    </li>
    <li class="nav-item">
      <a href="trabalhe-conosco.php" class="nav-link">Trabalhe Conosco</a>
    </li>
  </ul>
  <!-- Campo buscar -->
  <!--
  <form class="form-inline float-md-right" action="index.html" method="post">
    <input type="text" name="busca" class="form-control" placeholder="Digite sua pesquisa">
    <button type="button" name="button" class="btn btn-outline-success">Buscar</button>
  </form>
  -->
  <!-- Fim do campo buscar -->
  </div>
</nav>
<!-- Fim - Barra de navegação -->
</header>
